body {
    background-color: #1F2937;
}

.content-wrapper {
    margin-top: 100px;
}

.input-filltext {
    background-color: #374151;
    color: white;
    outline: none;
    border: none;
}

@media screen and (max-width: 850px) {
    .content-wrapper {
        margin-top: 30px;
    }
}